services:
  db:
    image: mysql:8.0
    container_name: kuwhy-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ispgraveyard
    ports:
      - "3307:3306"   
    networks:
      - kuwhy
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    container_name: kuwhy-backend
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
    command: sh -c "npx prisma generate && npx prisma db push && npx prisma studio && npm run dev"
    ports:
      - "8000:8000"
      - "5555:5555"
    networks:
      - kuwhy
    restart: on-failure

  frontend:
    build: ./frontend
    container_name: kuwhy-frontend
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    ports:
      - "3000:3000"
    networks:
      - kuwhy
    restart: on-failure

networks:
  kuwhy:
    driver: bridge
