@import "tailwindcss";

@theme {
  --font-sans: var(--font-roboto), sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/*hide scrollbar from flex overflow-x-auto */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}